.barWrapper {
  cursor: pointer;
  outline: none;
}

.barWrapper:hover .barHandle {
  visibility: visible;
  opacity: 1;
}

.barHandle {
  fill: #ddd;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
}

.barHandle:hover {
  fill: #a2a2a2;
}

/* Keep handles visible and in hover state when THIS specific bar is being dragged */
.barWrapperDragging .barHandle {
  visibility: visible;
  opacity: 1;
  fill: #a2a2a2;
}

.barBackground {
  user-select: none;
  stroke-width: 0;
}
